{% extends "layout.html" %}

{% block css%}
  <link rel="stylesheet/less" type="text/css" href="/static/css/login.less">
{% endblock %}

{% block js%}
  <script type="text/javascript">document.getElementById("name").focus()</script>
{% endblock %}

{% block title %}
כניסה
{% endblock %}

{% block main %}
    <form id="login" method="post">
        {% csrf_token %}
        <input type="text" id="name" name="name" placeholder="שם בדוי">
        <input  type="password" id="password" name="password" placeholder="סיסמא">
        <input id="login" type="submit" value="כניסה">
        <div class="clear"></div>
    </form>
    <form id="register" action="/register" method="get">
        <div class="help">
            <p>
            <strong>שכחתם את הסיסמא שלכם?</strong> באסה. 
            </p>
            <p>
            בכדי לשמור על האנונימיות שלכם אנחנו לא שומרים עליכם שום פרט וגם את הסיסמא אנחנו שומרים בצורה מוצפנת כך שאין לנו מושג מה היא. אתם מוזמנים לפתוח עוד פרופיל באתר. ממילא אף אחד לא יודע מי אתם באמת, ולפעמים זה אפילו נחמד לפתוח דף חלק.
            </p>
            <p>
            <strong>אין לכם פרופיל באתר?</strong> הזדמנות מצויינת להרשם.
            </p>
            <p>
            ההרשמה אנונימית לחלוטין ולוקחת כמה שניות. אנחנו אפילו לא מבקשים את האימייל שלכם.
            </p>
        </div>
        <input type="submit" value="הצטרפות">
        <div class="clear"></div>
    </form>
{% endblock %}
