{% extends "layout.html" %}

{% block css%}
    <link rel="stylesheet/less" type="text/css" href="/static/css/login.less">
{% endblock %}

{% block js%}
    <script type="text/javascript">document.getElementById("name").focus()</script>
{% endblock %}

{% block title %}
הצטרפות
{% endblock %}

{% block main %}
    <form id="register" method="post">
        <div class="help">
            <p>
            <strong>הרישום לאתר הוא אנונימי לחלוטין</strong> כדי שתרגישו חופשיים לדבר על הכל. 
            מומלץ לבחור סיסמא שמורכבת מכמה מילים (אפשר אפילו בעברית) - יותר קל לזכור והרבה יותר בטוח מסיסמאות רגילות.
            </p>
            <p>
            אתם יכולים לרשום את האימייל שלכם כאן ולקבל עדכונים על הודעות חדשות באתר. אנחנו לעולם לא נגלה אותו לאף אחד ולא נציק לכם עם שטויות.
            </p>
            <p>
            כתובות המייל נשמרות אצלינו בצורה מוצפנת ואנחנו עושים מאמצים רבים בכדי לשמור על הזהות שלכם חסויה. אם אתם בכל זאת חוששים, אתם יכולים להשתמש בשירות מייל אנונימי כמו <a href="http://www.hidemyass.com/anonymous-email/">Hide My Ass</a>.
            </p>
                <p>ברוכים הבאים!</p>
            <p></p>
        </div>
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
        {% csrf_token %}
        <input id="login" type="submit" value="כניסה">
        <div class="clear"></div>
    </form>
{% endblock %}
